In [36]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [37]:
# Read the CSV files into DataFrames.
file_path1 = "Resources/athletic_sales_2020.csv"
file_path2 = "Resources/athletic_sales_2021.csv"
df1 = pd.read_csv(file_path1)
df2 = pd.read_csv(file_path2)

In [38]:
# Display the 2020 sales DataFrame
print(df1.head())

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [39]:
# Display the 2021 sales DataFrame
print(df2.head())

    retailer  retailer_id invoice_date   region       state           city  \
0  West Gear      1128299       1/1/21     West  California  San Francisco
1  West Gear      1128299       1/1/21     West  California  San Francisco
2     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
3     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
4  West Gear      1128299       1/1/21     West  California  San Francisco

                   product  price_per_unit  units_sold  total_sales  \
0  Men's Athletic Footwear              65         750       487500
1  Men's Athletic Footwear              51         233        11883
2            Men's Apparel              50         275       137500
3            Men's Apparel              47          77         3619
4  Men's Athletic Footwear              64         225        14400

   operating_profit sales_method
0         121875.00       Outlet
1           3208.41       Outlet
2          82500.00       Outlet
3           2714.25       Online
4           5184.00       Online

#### Check the data types of each DataFrame

In [40]:

# Check the 2020 sales data types.
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          1297 non-null   object
 1   retailer_id       1297 non-null   int64
 2   invoice_date      1297 non-null   object
 3   region            1297 non-null   object
 4   state             1297 non-null   object
 5   city              1297 non-null   object
 6   product           1297 non-null   object
 7   price_per_unit    1297 non-null   int64
 8   units_sold        1297 non-null   int64
 9   total_sales       1297 non-null   int64
 10  operating_profit  1297 non-null   float64
 11  sales_method      1297 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 121.7+ KB
None

In [41]:
# Check the 2021 sales data types.
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8346 entries, 0 to 8345
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          8346 non-null   object
 1   retailer_id       8346 non-null   int64
 2   invoice_date      8346 non-null   object
 3   region            8346 non-null   object
 4   state             8346 non-null   object
 5   city              8346 non-null   object
 6   product           8346 non-null   object
 7   price_per_unit    8346 non-null   int64
 8   units_sold        8346 non-null   int64
 9   total_sales       8346 non-null   int64
 10  operating_profit  8346 non-null   float64
 11  sales_method      8346 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 782.6+ KB
None

#### Combine the sales data by rows.

In [42]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_df = pd.concat([df1, df2], axis="rows", join="inner").reset_index(drop=True)
print(combined_df)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9639  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9640       Amazon      1185732     12/31/21  Northeast         Maine
9641       Amazon      1185732     12/31/21  Northeast         Maine
9642  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

In [43]:
# Check if any values are null.
print(combined_df.isnull().sum())

retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [44]:
# Check the data type of each column
print(combined_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9643 entries, 0 to 9642
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9643 non-null   object
 1   retailer_id       9643 non-null   int64
 2   invoice_date      9643 non-null   object
 3   region            9643 non-null   object
 4   state             9643 non-null   object
 5   city              9643 non-null   object
 6   product           9643 non-null   object
 7   price_per_unit    9643 non-null   int64
 8   units_sold        9643 non-null   int64
 9   total_sales       9643 non-null   int64
 10  operating_profit  9643 non-null   float64
 11  sales_method      9643 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 904.2+ KB
None

In [45]:
# Convert the "invoice_date" to a datetime datatype
combined_df["invoice_date"] = pd.to_datetime(combined_df["invoice_date"])
print(combined_df.head())

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732   2020-01-01  Northeast      New York
1  Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
2  Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
3  Foot Locker      1185732   2020-01-01  Northeast      New York
4  Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

/var/folders/rc/1db8cly16ks_ybhj2hy4lmgm0000gn/T/ipykernel_56738/1722386150.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df["invoice_date"] = pd.to_datetime(combined_df["invoice_date"])

In [46]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9643 entries, 0 to 9642
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9643 non-null   object
 1   retailer_id       9643 non-null   int64
 2   invoice_date      9643 non-null   datetime64[ns]
 3   region            9643 non-null   object
 4   state             9643 non-null   object
 5   city              9643 non-null   object
 6   product           9643 non-null   object
 7   price_per_unit    9643 non-null   int64
 8   units_sold        9643 non-null   int64
 9   total_sales       9643 non-null   int64
 10  operating_profit  9643 non-null   float64
 11  sales_method      9643 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 904.2+ KB
None

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [47]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
products_sold = combined_df.groupby(["region", "state", "city"])["units_sold"].agg(Total_Products_Sold=("sum"))




# Show the top 5 results.

print (products_sold.sort_values(by="Total_Products_Sold", ascending=False).head())

                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

#### Using `pivot_table`

In [48]:
# Show the number of products sold for each region using pivot_table.
products_sold_pivot = combined_df.pivot_table(index= ["region","state", "city"], values="units_sold", aggfunc="sum")



# Rename the sum to "Total_Products_Sold" using pivot_table.
products_sold_pivot = products_sold_pivot.rename(columns={"units_sold": "Total_Products_Sold"})


# Show the top 5 results.

print (products_sold_pivot.sort_values(by="Total_Products_Sold", ascending=False).head())

                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [49]:
# Show the total sales for each product using groupby.
# Rename the sum to "Total Sales".
total_sales = combined_df.groupby(["region", "state", "city"])["total_sales"].agg(Total_Sales=("sum"))


# Show the top 5 results.
print (total_sales.sort_values(by="Total_Sales", ascending=False).head())

                                        Total_Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

#### Using `pivot_table`

In [50]:
# Show the total sales for the products sold for each region, state, and city using pivot_table.
total_sales_pivot = combined_df.pivot_table(index=["region", "state", "city"], values="total_sales", aggfunc="sum")



# Optional: Rename the "total_sales" column to "Total Sales" using pivot_table.
total_sales_pivot = total_sales_pivot.rename(columns={"total_sales": "Total Sales"})



# Show the top 5 results.
print (total_sales_pivot.sort_values(by="Total Sales", ascending=False).head())

                                        Total Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [51]:
# Show the total sales for the products sold for each retailer, region, state, and city using groupby.
# Rename the "total_sales" column to "Total Sales" using groupby.
total_sales = combined_df.groupby(["retailer", "region", "state", "city"])["total_sales"].agg(Total_Sales=("sum"))


# Show the top 5 results using groupby.
print (total_sales.sort_values(by="Total_Sales", ascending=False).head())

                                                    Total_Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

#### Using `pivot_table`

In [52]:
# Show the total sales for the products sold for each retailer, region, state, and city using pivot_table.
total_sales_pivot = combined_df.pivot_table(index=["retailer", "region", "state", "city"], values="total_sales", aggfunc="sum")



# Optional: Rename the "total_sales" column to "Total Sales"
total_sales_pivot = total_sales_pivot.rename(columns={"total_sales": "Total Sales"})



# Show the top 5 results.
print (total_sales_pivot.sort_values(by="Total Sales", ascending=False).head())

                                                    Total Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [53]:
#Filter the DataFrame for women's athleic footwear sales.
womens_sales = combined_df[combined_df['product'].str.contains("Women's Athletic Footwear")]
print(womens_sales)

         retailer  retailer_id invoice_date     region         state  \
21    Foot Locker      1185732   2020-01-04  Northeast      New York
22    Foot Locker      1185732   2020-01-04  Northeast      New York
23    Foot Locker      1185732   2020-01-04  Northeast      New York
26      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
27      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9633  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9634  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9635       Amazon      1185732   2021-12-30  Northeast         Maine
9636       Amazon      1185732   2021-12-30  Northeast         Maine
9637  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania

              city                    product  price_per_unit  units_sold  \
21        New York  Women's Athletic Footwear              36         281
22        New York  Women's Athletic Footwear              41         247
23        New York  Women's Athletic Footwear              45         850
26    Philadelphia  Women's Athletic Footwear              45         300
27    Philadelphia  Women's Athletic Footwear              34          90
...            ...                        ...             ...         ...
9633  Philadelphia  Women's Athletic Footwear              57          53
9634  Philadelphia  Women's Athletic Footwear              40          53
9635      Portland  Women's Athletic Footwear              42          36
9636      Portland  Women's Athletic Footwear              45         125
9637  Philadelphia  Women's Athletic Footwear              60         175

      total_sales  operating_profit sales_method
21          10116           3742.92       Outlet
22          10127           4658.42       Online
23         382500         133875.00     In-store
26         135000          47250.00       Outlet
27           3060           1254.60       Outlet
...           ...               ...          ...
9633         3021           1601.13       Online
9634         2120            954.00       Outlet
9635         1512            680.40       Online
9636        56250          16875.00       Outlet
9637       105000          42000.00       Outlet

[1604 rows x 12 columns]

#### Using `groupby`

In [54]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city using groupby.
womens_athletic_footwear_sales = womens_sales.groupby(["retailer", "region", "state", "city"])["units_sold"].agg(Womens_Footwear_Units_Sold=("sum"))

# Show the top 5 results using groupby.
print (womens_athletic_footwear_sales.sort_values(by="Womens_Footwear_Units_Sold", ascending=False).head())

                                                      Womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                       12107
Foot Locker   Northeast New York       New York                            10996
Kohl's        West      California     Los Angeles                         10826
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790

#### Using `pivot_table`

In [55]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city using pivot_table.
pivot_sales = pd.pivot_table(womens_sales,
                              values='units_sold',
                              index=['retailer','region', 'state', 'city'],
                              aggfunc='sum')


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold" using pivot_table.
pivot_sales = pivot_sales.rename(columns={'units_sold': 'Total Sales'})

# Sort the results in descending order
pivot_sales.sort_values(by='Total Sales', ascending=False)

                                                      Total Sales
retailer      region    state          city
West Gear     West      California     San Francisco        12107
Foot Locker   Northeast New York       New York             10996
Kohl's        West      California     Los Angeles          10826
Foot Locker   Southeast South Carolina Charleston            8814
Sports Direct South     Texas          Dallas                8790
...                                                           ...
Foot Locker   West      Alaska         Anchorage              281
                        California     Los Angeles            200
Amazon        South     Alabama        Birmingham             158
Foot Locker   South     Texas          Dallas                 117
                        Tennessee      Knoxville              117

[108 rows x 1 columns]

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [56]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
pivot_table = pd.pivot_table(womens_sales,
                                values='total_sales',
                                index='invoice_date',
                                aggfunc='sum')



# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table = pivot_table.rename(columns={'total_sales': 'Total Sales'})



# Show the table.
print(pivot_table)

              Total Sales
invoice_date
2020-01-04         402743
2020-01-05         141801
2020-01-11         129556
2020-01-17         173013
2020-01-22         388250
...                   ...
2021-12-22         200406
2021-12-23         808022
2021-12-24         190885
2021-12-25         315175
2021-12-30         167903

[355 rows x 1 columns]

In [57]:
# Resample the pivot table into daily bins, and get the total sales for each day.
resampled_pivot_table = pivot_table.resample('D').sum()


# Sort the resampled pivot table in descending order on "Total Sales".
sorted_resampled_pivot_table = resampled_pivot_table.sort_values(by='Total Sales', ascending=False)
print(sorted_resampled_pivot_table)

              Total Sales
invoice_date
2021-07-16        1521825
2021-12-16        1473497
2021-06-17        1376988
2021-08-17        1086294
2021-07-23        1021806
...                   ...
2021-02-27              0
2021-02-25              0
2020-07-30              0
2020-07-31              0
2021-01-01              0

[727 rows x 1 columns]

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [58]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
resampled_pivot_table = pivot_table.resample('W').sum()


# Sort the resampled pivot table in descending order on "Total Sales".
sorted_resampled_pivot_table = resampled_pivot_table.sort_values(by='Total Sales', ascending=False)
print(sorted_resampled_pivot_table)

              Total Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
...                   ...
2020-12-06          62801
2020-12-20          61710
2020-12-13          58916
2020-11-22          53940
2020-10-18              0

[105 rows x 1 columns]